@layer base {

	@font-face {
		font-family: "aileron-light";
		src: url('../webfonts/Aileron-Light.ttf');
	}
	@font-face {
			font-family: "aileron";
			src: url('../webfonts/Aileron-Regular.ttf');
	}
	@font-face {
			font-family: "aileron-bold";
			src: url('../webfonts/Aileron-SemiBold.ttf');
	}

	
	body{
		@apply 
		font-aileron
		bg-carnival
		text-lg
	}

	h1,
	h2,
	h3,
	h4 {
		@apply 
		font-aileron-bold
	}

	input,
	textarea,
	select{
		outline: none;
		@apply
		relative
		w-full
		flex-grow
		font-aileron
		text-inherit 
		outline-none 
		resize-none
		bg-transparent
	}

	input:focus,
	textarea:focus,
	select:focus,
	button:focus{
		@apply outline-none;
	}

	textarea {
		@apply 
		my-2
		scrollbar-hide
	}

	input:-webkit-autofill,
	input:-webkit-autofill:hover, 
	input:-webkit-autofill:focus, 
	input:-webkit-autofill:active{
		-webkit-box-shadow: 0 0 0 30px white inset !important;
		margin:1px;
		background-color: #fff !important;
	}
	input:-webkit-autofill{
		-webkit-text-fill-color: #333 !important;
	}

	/* Chrome, Safari, Edge, Opera */
	input::-webkit-outer-spin-button,
	input::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}

	/* Firefox */
	input[type=number] {
		-moz-appearance: textfield;
	}

	button{
		@apply 
		outline-none 
		cursor-pointer 
	}

	header,
	footer {
		@apply
		w-full
	}

	table {
		@apply 
		table-fixed 
		min-w-full;
	}

	thead{
		@apply
		sticky
	}

	th,
	td{
		@apply
		p-3
	}

	a{
		@apply
		cursor-default
	}


	/* input */

	input::-webkit-contacts-auto-fill-button,
	input::-webkit-credentials-auto-fill-button
	{
		visibility: hidden;
		display: none !important;
		pointer-events: none;
		position: absolute;
		right: 0;
	}

}